In [1]:
import pandas as pd

collision = pd.read_csv('processed_data_with_PRE_CRASH.csv')  
speed_limit = pd.read_csv('Speed_Limits.csv')

/var/folders/qj/z6_sq0xj40xggsgb8vk5jnjm0000gn/T/ipykernel_25832/3862195505.py:3: DtypeWarning: Columns (3,29,30,42) have mixed types. Specify dtype option on import or set low_memory=False.
  collision = pd.read_csv('processed_data_with_PRE_CRASH.csv')

In [2]:
collision = collision.rename(columns={'CRASH DATE': 'crash_date',
                                      'CRASH TIME': 'crash_time',
                                      'NUMBER OF PERSONS INJURED': 'number_injured',
                                      'NUMBER OF PERSONS KILLED': 'number_killed'})

In [3]:
collision['crash_date'] = pd.to_datetime(collision['crash_date'])
collision[collision['crash_date'].dt.year == 2014]

,crash_date,crash_time,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,max_temperature,precipitation_amount,snowfall_amount,wind_direction,wind_speed,Peak_gust_wind_speed,atmospheric_pressure,sunshine_duration,PRE_CRASH,CRASH_DATE
1251504,2014-08-05,9:10,BRONX,10469.0,40.873302,-73.853638,"(40.8733019, -73.8536375)",BOSTON ROAD,EAST GUNHILL ROAD,NaN,...,31.7,0.0,0.0,NaN,9.7,NaN,1015.3,NaN,Making Left Turn,08/05/2014
1251505,2014-08-27,8:20,QUEENS,11422.0,40.654417,-73.734278,"(40.6544171, -73.7342776)",148 ROAD,WELLER LANE,NaN,...,33.9,0.0,0.0,NaN,10.8,NaN,1014.8,NaN,Making Left Turn,08/27/2014
1251506,2014-08-14,11:40,MANHATTAN,10019.0,40.765991,-73.987123,"(40.7659905, -73.987123)",WEST 54 STREET,9 AVENUE,NaN,...,27.2,0.0,0.0,272.0,16.9,NaN,1010.4,NaN,Going Straight Ahead,08/14/2014
1251507,2014-08-29,15:00,BROOKLYN,11226.0,40.648721,-73.964904,"(40.6487213, -73.9649038)",EAST 16 STREET,CHURCH AVENUE,NaN,...,26.1,0.0,0.0,NaN,9.7,NaN,1021.2,NaN,NaN,08/29/2014
1251508,2014-08-05,17:23,MANHATTAN,10012.0,40.723796,-74.000368,"(40.7237962, -74.000368)",SPRING STREET,GREENE STREET,NaN,...,31.7,0.0,0.0,NaN,9.7,NaN,1015.3,NaN,Going Straight Ahead,08/05/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1564258,2014-01-01,11:11,BROOKLYN,11207,40.682801,-73.906375,"(40.6828007, -73.9063754)",BUSHWICK AVENUE,FURMAN AVENUE,NaN,...,0.6,0.0,0.0,NaN,9.0,NaN,1027.7,NaN,NaN,01/01/2014
1564274,2014-01-02,8:00,QUEENS,11354,40.765826,-73.823726,"(40.7658262, -73.8237264)",35 AVENUE,PARSONS BOULEVARD,NaN,...,0.6,5.1,0.0,22.0,25.6,NaN,NaN,NaN,NaN,01/02/2014
1564287,2014-01-01,2:30,QUEENS,11103,40.765020,-73.917389,"(40.7650201, -73.9173894)",36 STREET,30 AVENUE,NaN,...,0.6,0.0,0.0,NaN,9.0,NaN,1027.7,NaN,NaN,01/01/2014
1564288,2014-01-02,21:20,MANHATTAN,10035,40.804449,-73.941650,"(40.8044494, -73.94165)",EAST 123 STREET,MADISON AVENUE,NaN,...,0.6,5.1,0.0,22.0,25.6,NaN,NaN,NaN,NaN,01/02/2014
1564303,2014-01-02,18:05,STATEN ISLAND,10312,40.561092,-74.169827,"(40.5610915, -74.1698275)",RICHMOND AVENUE,ARTHUR KILL ROAD,NaN,...,0.6,5.1,0.0,22.0,25.6,NaN,NaN,NaN,NaN,01/02/2014

In [4]:
collision.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1906620 entries, 0 to 1906619
Data columns (total 44 columns):
 #   Column                         Dtype
---  ------                         -----
 0   crash_date                     datetime64[ns]
 1   crash_time                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  number_injured                 float64
 11  number_killed                  float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
 29  Date_x                         object
 30  Holiday                        object
 31  Date_y                         object
 32  avg_temperature                float64
 33  min_temperature                float64
 34  max_temperature                float64
 35  precipitation_amount           float64
 36  snowfall_amount                float64
 37  wind_direction                 float64
 38  wind_speed                     float64
 39  Peak_gust_wind_speed           float64
 40  atmospheric_pressure           float64
 41  sunshine_duration              float64
 42  PRE_CRASH                      object
 43  CRASH_DATE                     object
dtypes: datetime64[ns](1), float64(14), int64(7), object(22)
memory usage: 640.0+ MB

In [5]:
distinct_dates = collision['crash_date'].unique()
distinct_dates.sort()

In [6]:
distinct_dates

array(['2012-07-01T00:00:00.000000000', '2012-07-02T00:00:00.000000000',
       '2012-07-03T00:00:00.000000000', ...,
       '2023-06-01T00:00:00.000000000', '2023-06-02T00:00:00.000000000',
       '2023-06-03T00:00:00.000000000'], dtype='datetime64[ns]')

In [7]:
speed_limit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350908 entries, 0 to 350907
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  350908 non-null  int64
 1   row_number  350908 non-null  int64
 2   street      350126 non-null  object
 3   postvz_sg   350908 non-null  object
 4   postvz_sl   350908 non-null  int64
 5   Shape_Leng  350908 non-null  float64
 6   LONGITUDE   350908 non-null  float64
 7   LATITUDE    350908 non-null  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 21.4+ MB

In [8]:
import geopandas as gpd
from shapely.geometry import Point
from shapely.ops import transform
import pyproj

# Define the buffer distance in feet
buffer_distance = 150

# Create the collision GeoDataFrame
collision_gdf = gpd.GeoDataFrame(collision, geometry=gpd.points_from_xy(collision['LONGITUDE'], collision['LATITUDE']))
collision_gdf.crs = 'EPSG:2263'  

# Create the speed limit GeoDataFrame
speed_limit_gdf = gpd.GeoDataFrame(speed_limit, geometry=gpd.points_from_xy(speed_limit['LONGITUDE'], speed_limit['LATITUDE']))
speed_limit_gdf.crs = 'EPSG:2263'

In [9]:
collision_gdf['geometry'] = collision_gdf['geometry'].apply(lambda point: Point(round(point.x, 12), round(point.y, 12)))
speed_limit_gdf['geometry'] = speed_limit_gdf['geometry'].apply(lambda point: Point(round(point.x, 12), round(point.y, 12)))

In [10]:
# Reproject the speed limit geometries to a projected CRS suitable for buffer operations
projected_crs = 'EPSG:32610'  # Choose an appropriate projected CRS for your area
speed_limit_gdf = speed_limit_gdf.to_crs(projected_crs)

In [11]:
# Perform the buffer operation on the speed limit geometries
speed_limit_gdf['buffer'] = speed_limit_gdf.geometry.buffer(buffer_distance)

In [12]:
# Reproject the collision geometries to match the projected CRS
collision_gdf = collision_gdf.to_crs(projected_crs)

In [13]:
# Check if collision geometries fall within the speed limit buffers
merged = gpd.sjoin_nearest(speed_limit_gdf, collision_gdf, how='left', distance_col="Distances")
merged = merged.sort_values(by=['COLLISION_ID', 'postvz_sl'])

In [14]:
merged = merged.drop_duplicates(subset='COLLISION_ID', keep='first')
merged = merged.drop(['Date_x', 'Date_y', 'Unnamed: 0', 'row_number', 'sunshine_duration', 
                      'wind_direction', 'wind_speed', 'Peak_gust_wind_speed', 'atmospheric_pressure',
                      'index_right'], axis=1)

In [15]:
merged = merged[merged['postvz_sl'].notna()]
merged['Holiday'] = merged['Holiday'].fillna('No')

In [16]:
import numpy as np
merged['effective_area'] = np.where((merged['postvz_sg'] == 'NO') & (merged['postvz_sl'] == 25), 'Yes', 'No')

In [17]:
merged = merged.groupby(['crash_date', 'effective_area', 'Holiday','avg_temperature',
                'precipitation_amount','snowfall_amount']).agg({'COLLISION_ID': 'count',
                                                                'number_injured': 'sum',
                                                                'number_killed': 'sum'}).reset_index()

In [18]:
distinct_dates = merged['crash_date'].unique()
distinct_dates.sort()
distinct_dates

array(['2012-07-01T00:00:00.000000000', '2012-07-02T00:00:00.000000000',
       '2012-07-03T00:00:00.000000000', ...,
       '2023-06-01T00:00:00.000000000', '2023-06-02T00:00:00.000000000',
       '2023-06-03T00:00:00.000000000'], dtype='datetime64[ns]')

In [19]:
merged

,crash_date,effective_area,Holiday,avg_temperature,precipitation_amount,snowfall_amount,COLLISION_ID,number_injured,number_killed
0,2012-07-01,No,No,29.7,0.0,0.0,172,58.0,0.0
1,2012-07-01,Yes,No,29.7,0.0,0.0,265,90.0,0.0
2,2012-07-02,No,No,28.0,0.0,0.0,175,65.0,0.0
3,2012-07-02,Yes,No,28.0,0.0,0.0,298,82.0,1.0
4,2012-07-03,No,No,28.4,0.0,0.0,213,68.0,0.0
...,...,...,...,...,...,...,...,...,...
7973,2023-06-01,Yes,No,20.9,0.0,0.0,34,21.0,0.0
7974,2023-06-02,No,No,23.0,0.0,0.0,35,14.0,0.0
7975,2023-06-02,Yes,No,23.0,0.0,0.0,33,13.0,0.0
7976,2023-06-03,No,No,18.5,0.0,0.0,24,19.0,0.0
7977,2023-06-03,Yes,No,18.5,0.0,0.0,15,4.0,1.0

In [20]:
merged.to_csv('collision_w_speedlimit_by_day.csv', index=False)